<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <figure id="sample_slider" class="swipeslider">
        <ul class="sw-slides">
            <li class="sw-slide">
                <img src="https://img1.baidu.com/it/u=3489507284,1488139185&fm=26&fmt=auto&gp=0.jpg" alt="Lang from Yie Ar Kung Fu">
            </li>
            <li class="sw-slide">
                <img src="https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fy.gtimg.cn%2Fmusic%2Fphoto_new%2FT002R300x300M000002GIx2T2s25Xe_1.jpg%3Fmax_age%3D2592000&refer=http%3A%2F%2Fy.gtimg.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1623467440&t=9750c8d66cf7a43fff55e4eaf198f703" alt="Summer beach concept">
            </li>

        </ul>
    </figure>

</head>
<body>

</body>
</html>
<script src="../static/swipeslider.js"></script>
<script src="../static/swipeslider.scss"></script>
<script src="../static/libs/jQuery/jquery-1.8.3.min.js"></script>
<script>

    $(window).load(function() {
        $('#sample_slider').swipeslider();
    });

</script>